CompileFlags:
  CompilationDatabase: .
Diagnostics:
  Suppress:
    - invalid_consteval_call
InlayHints:
  ParameterNames: false
  DeducedTypes: false
  Designators: false
Index:
  Background: Build
Hover:
  ShowAKA: true