Checks: |
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*,
  modernize-*,
  clang-analyzer-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-braces-around-statements